<div class="col-md-12 footer">
  <div class="row main-column">
    Game statistics are copyright <a href="http://howlongtobeat.com" target="_blank">HowLongToBeat.</a>
    <br>Game prices are copyright <a href="http://isthereanydeal.com" target="_blank">IsThereAnyDeal.</a>
    <br><a href="http://metacritic.com" target="_blank">Metacritic</a> and <a href="http://store.steampowered.com" target="_blank">Steam</a> statistics are copyright by their respective companies.
  </div>
</div>