<div class="row main-column not-found">
  <h4>The game requested was not found.</h4>
  <p>Currently, only games available on Steam are in the database. For best results, use the suggestion dropdown to choose a game.</p>

  <script>
  $(document).ready(function() {
    // If window is big enough that it doesn't need to scroll, snap footer to bottom
    var place_footer = function() {
      var view_height = document.body.scrollHeight;
      var content_height = document.body.clientHeight + $(".footer").outerHeight(true);
      var no_vscroll_needed = view_height > content_height;
      //console.log(view_height + " " + content_height);
      
      if (no_vscroll_needed) {
        $(".footer")
        .css("position","absolute")
        .css("bottom",0);
      }
      else {
        $(".footer")
        .css("position","")
        .css("bottom","");
      }
    };

    place_footer();
    $(window).resize(place_footer);
  });
  </script>
</div>