<h1>Home Page</h1>
  <%= form_tag "/get_game", class: "form_inline", method: :get do %>
  <div class="input-group input-group-lg">
    <% if params[:query].present? %>
      <div class="input-group-btn">
        <%= link_to "clear", "/", class: "btn btn-default" %>
      </div>
    <% end %>
    <%= text_field_tag :query, params[:query], class: "form-control", id: "game_search", autocomplete: "off" %>
    <div class="input-group-btn">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
