function render_footer(game_name) { 
  $(".fancybox-suggestions").fancybox({
    openEffect: "fade",
    closeEffect: "fade",
    minWidth: 600,
    minHeight: 300,
    autoWidth: true,
  });

  // Toggle availability of Submit button
  // Make available when an option is selected and something is in textarea
  function check_input_state() {
    if ($(".suggestions-popup option:selected").val() == "" ||
        $(".suggestions-popup textarea").val() == "")
      $(".suggestions-popup .submit-suggestion").addClass("disabled");
    else
      $(".suggestions-popup .submit-suggestion").removeClass("disabled");
  }

  $(".open-suggestions-popup").click(check_input_state);
  $(".suggestions-popup select").on("change", check_input_state);
  $(".suggestions-popup textarea").keyup(check_input_state);

  // Suggestion submission
  $(".suggestions-popup .submit-suggestion").click(function() {
    var selection = $(".suggestions-popup option:selected").val();
    var content = $(".suggestions-popup textarea").val();

    var thanksHTML = '<div class="thanks">Thanks for your feedback!</div>';

    $(".suggestions-popup")
    .empty()
    .append(thanksHTML);

    $.post(
    "/ajax/send_suggestion",
    {name: game_name,
      selection: selection,
      content: content});
  });
}