function convert_to_classname(str) {
  return str.replace(/[^\w\d]/g,"").toLowerCase();
}

var ready = function() {
  console.log("Game page loaded");
  var game_name = $(".game-name").text().replace(/\n/g,"");

  // PRICES VIEW (prices.js.erb)
  render_prices(game_name);

  // IMAGES VIEW (images.js.erb)
  render_images(game_name);

  // VIDEOS VIEW (videos.js.erb)
  render_videos(game_name);

  // REDDIT VIEW (reddit.js.erb)
  render_reddit(game_name);

  // SEARCH RESULTS (search_results.js.erb)
  render_search_results(game_name);

  // FOOTER (footer.js.erb)
  render_footer(game_name);



  // COLLAPSIBLE CONTAINERS

  var original_height = "300px";

  $(".collapsible")
  .css("max-height", original_height)
  .css("overflow", "hidden");

  $(".description-container, .reqs-container").each(function(index, elem) {
    if ($(elem).prop("scrollHeight") <= $(elem).outerHeight()) {
      $(elem).siblings(".collapser").hide();
    }
  });

  $(".collapser").click(function(e) {
    var collapsible = $(e.target).siblings(".collapsible");
    if (!collapsible.length)
      collapsible = $(e.target).parent().siblings(".collapsible"); // clicked img

    if (collapsible.css("max-height") === original_height) {
      collapsible.css("max-height","none");
      collapsible.siblings(".collapser").html('<%= image_tag "collapse-top.png" %>');
    }
    else {
      collapsible.css("max-height",original_height);
      collapsible.siblings(".collapser").html('<%= image_tag "expand.png" %>');
    }
  });



  // PERCENTAGE DIALS

  $(".dial").css("visibility","visible");

  $(".dial").knob({
    "width": 120,
    "height": 120,
    "thickness": 0.2,
    "bgColor": "rgba(255,255,255,0.2)",
    "readOnly": true,
  });

  $(".dial")
  .css("font-size", "40pt")
  .css("height", "120px")
  .css("width", "120px")
  .css("margin", "0 0 0 -120px");



  // NAVBAR SCROLLING

  $("nav a").click(function(e) {
    var goto_id = $(e.target).data("goto-id");
    var offset = $(goto_id).offset().top - 10;

    $("html,body").animate({
      scrollTop: offset
    }, offset*0.4);
  });



  // MISCELLANEOUS

  // Adjust footer position whenever possible
  $("body").click(adjust_footer_position);

  // Adjust height of boxes in hltb-detail (Game statistics) to match maximum
  var game_statistics_height = Math.max($(".hltb-container").height(), $(".detail-container").height());
  $(".hltb-container").css("height", game_statistics_height + "px");
  $(".detail-container").css("height", game_statistics_height + "px");

  // Wrap img tags in description with img-container so images can be centered
  $(".description-container img").each(function(index, elem) {
    $(elem).wrap('<div class="img-container"></div>');
  });
};



$(document).on("page:load", ready);
$(window).load(ready);



// Adjust footer position (called after most ajax requests)

function adjust_footer_position() {
  function bottom_offset(elem) {
    return elem.offset().top + elem[0].offsetHeight;
  }

  // Move footer below bottom-most element
  var body_bottom = bottom_offset($("body"));
  var left_sidebar_bottom = bottom_offset($(".search-results-container"));
  var right_sidebar_bottom = bottom_offset($(".right.sidebar"))
  var bottommost = Math.max(body_bottom, left_sidebar_bottom, right_sidebar_bottom);

  $(".footer").css("position","absolute");
  $(".footer").css("top",bottommost + "px");
}