var search = function() {
  var SAMPLE_SEARCH_URL_FORMAT = "/get_game?utf8=✓&query=GAMENAME&commit=Search&dlc=DLCBOOL";
  // This will need to be changed if the search URL changes

  var bloodhound_remote_filter = function(is_dlc_param) {
    return function(results) {
      // console.log(results);
      return $.map(results, function(data) {
        //console.log(data);
        return {
          name: data.name,
          img: data.img,
          is_dlc: is_dlc_param
          /*sanitized_name: data
            .replace(/[^a-zA-Z0-9\s]/g, "")
            .replace(/\-/g, "")
            .replace(/\s+/, " ")*/
        };
        // add whatever you want to display here
      });
    }
  };

  var games_object = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.nonword,
    queryTokenizer: Bloodhound.tokenizers.nonword,
    remote: {
      url: '/games/autocomplete?query=%QUERY',
      filter: bloodhound_remote_filter(false)
    }
  });
  var dlcs_object = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.nonword,
    queryTokenizer: Bloodhound.tokenizers.nonword,
    remote: {
      url: '/dlcs/autocomplete?query=%QUERY',
      filter: bloodhound_remote_filter(true)
    }
  });

  var games_promise = games_object.initialize();
  var dlcs_promise = dlcs_object.initialize();

  games_promise
    .done(function() { console.log('Games search - load success'); })
    .fail(function() { console.log('Games search - load error'); });
  dlcs_promise
    .done(function() { console.log('DLCs search - load success'); })
    .fail(function() { console.log('DLCs search - load error'); });

  function get_search_url(name,is_dlc_param) {
    if (is_dlc_param) {
      return SAMPLE_SEARCH_URL_FORMAT
          .replace("GAMENAME", name)
          .replace("DLCBOOL", "true") + "#dlc-info";
    }
    else {
      return SAMPLE_SEARCH_URL_FORMAT
        .replace("GAMENAME", name)
        .replace("DLCBOOL", "false");
    }
  }

  var typeahead_suggestion = function(is_dlc_param) {
    return function(data) {
      if (data.img) {
        return '<img class="suggestion-img" src="' + data.img + '" />'
        + data.name +
        '<span class="suggestion-link"></span>';
      }
      else {
        return '<%= image_tag "steamlogo.jpg", class: "suggestion-img" %>'
        + data.name +
        '<span class="suggestion-link"></span>';
      }
    }
  }

  $('.typeahead').typeahead({
    highlight: true,
    minLength: 2,
    autoselect: true
  }, {
    name: 'games',
    displayKey: 'name',
    source: games_object.ttAdapter(),
    templates: {
      header: "<h4 class='category-heading'>Standalone games</h4>",
      empty: "<span class='empty empty-suggestions'>(no suggestions found)</span>",
      suggestion: typeahead_suggestion(false)
    }
  }, {
    name: 'dlcs',
    displayKey: 'name',
    source: dlcs_object.ttAdapter(),
    templates: {
      header: "<h4 class='category-heading'>DLCs</h4>",
      empty: "<span class='empty empty-suggestions'>(no suggestions found)</span>",
      suggestion: typeahead_suggestion(true)
    }
  }).on("typeahead:selected", function(ev, suggestion) {
    //console.log(suggestion);
    window.location = get_search_url(suggestion.name,suggestion.is_dlc)
  });
}

$(document).ready(search);
$(document).on("page:load", search);
// for turbolinks to reload javascript when returning to homepage