body {
  background-color: #373737;
  color: #fff;
}

/* Colors */

.btn-primary {
  background-color: hsl(163, 63%, 46%);
  border-color: hsl(163, 63%, 41%);
}
.btn-primary:hover {
  background-color: hsl(163, 63%, 37%);
  border-color: hsl(163, 63%, 32%);
}
.btn-primary:focus {
  background-color: hsl(163, 63%, 33%);
}



.section-heading {
  color: hsl(163, 63%, 86%);
  border-bottom: 1px solid hsl(163, 63%, 46%);
  padding-bottom: 6px;
  margin-bottom: 10px;
}
.section-heading .title { font-size: 20px; }
.section-heading .left { text-align: left; }
.section-heading .right {
  float: right;
  text-align: right;
  bottom: 0;
}
.subsection-heading, .price-list-heading {
  font-size: 16px;
  color: hsl(163, 63%, 70%);
  height: 40px;
  padding: 10px;
  /*border-bottom: 1px solid hsl(163, 63%, 36%);*/
}
.price-list-heading a {
  font-size: 14px;
  float: right;
}



a {
  color: hsl(163, 63%, 46%);
}
a:hover {
  color: hsl(163, 63%, 37%);
}
a:focus {
  color: hsl(163, 63%, 33%);
}
.header {
  background-color: hsl(163, 55%, 25%);
}
.content {
  background-color: rgba(30,30,30,0.4);
}




.twitter-typeahead,.tt-hint,.tt-input,.tt-dropdown-menu {
  vertical-align: middle;
  width: 100%;
  color: #555;
  /* overridden by body{} above, re-overridden to normal here */
}
.tt-suggestion {
  position: relative;
}
.suggestion-link {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*z-index: 1000000;*/
}
.empty-suggestions {
  margin: 3px 20px;
  color: #999;
  font-style: italic;
}
.input-group {
  margin: auto;
  vertical-align: middle;
  width: 100%;
}
.header {
  height: 100px;
  margin-bottom: 10px;
  display: inline-flex;
}
.homepage-title {
  padding: 5px;
  margin: auto;
}
.search-bar {
  margin: auto;
}
.category-heading {
  margin: 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}



/* Index styles */

.listing-container,.capsule {
  padding: 5px;
}

.game-img,.package-img {
  width: 100%;
}



/* New Deals line styling */

h3.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
} 
h3 span.divider {
  background: #373737;
  padding: 0 10px;
}



/* Package styling */

.vertical-spacer {
  background-color: #222;
  text-align: center;
}
.vertical-spacer-text {
  /*line-height: 29px; <-- assigned dynamically in js */
  white-space: nowrap;
  opacity: 0.5;
  color: #fff;
  text-align: center;
}
.package-link:hover {
  text-decoration: none;
}



/* Game page styling */

/*.underlay {
  width: 900px;
  height: 10000px;
  margin: 0 auto;
  left: 225px;
  position: absolute;
  z-index: -1000;
  background-color: rgba(255,255,255,0.1);
}*/

.vital-data * {
  padding: 0;
  /*border: 1px solid red;*/
}
.main-column {
  width: 800px;
  margin: 0 auto;
}



.img-container {
  display: inline-block;
}
.info-container {
  display: inline-block;
  width: 300px;
  float: right;
}
.score-container {
  margin: 0 15px;
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  white-space: nowrap;
}
.recs-num {
  font-size: 24pt;
}
.recs-container {
  margin-top: 20px;
  text-align: center;
}
.recs-word {
  height: 10pt;
  line-height: 10pt;
}



.pics * {
  padding: 0;
}
.pics {
  margin-top: 40px;
}
.pics .img-loading-overlay {
  height: 100%;
}
.pics .img-loading-overlay-inner {
  position: absolute;
  text-align: center;

  width: 300px;
  height: 24px;

  top: 50%;
  left: 50%;
  margin: -12px 0 0 -150px;
}

/*.pics a {
  padding: 3px;
  height: 150px;
}
.pics a:hover {
  background-color: white;
}*/

#horiz_container img {
  height: 150px;
  border-radius: 5px;
}
#horiz_container_outer {
  border-color: rgba(204,204,204,0.4);
  width: 100%;
  height: 170px; /* 150+10+10 */
}
#horiz_container_inner {
  margin: 0;
  padding: 0;
}
#horiz_container {
  height: 170px;
  padding-left: 5px; /* 10/2 */
  padding-right: 5px;
}
#horiz_container li {
  margin: 10px 5px;
}
#scrollbar, #track {
  width: 100%;
}
#dragBar {
  display: none; /* made visible in ajax call */
}



.pricing {
  margin-top: 20px;
  /*border: 1px solid green;*/
}
/*.pricing div {
  border: 1px solid green;
}*/
.pricing table {
  width: 100%;
  margin-bottom: 10px;
}
.pricing td {
  padding: 0;
}
.pricing .dlc-pkg-select td {
  border: none;
}
.pricing .subsection {
  height: 250px;
  padding: 0 10px;
  background-clip: content-box;
}
.pricing .subsection.pkgs {
  margin-top: 10px;
  height: 240px;
}
.pricing .subsection-inner {
  height: 210px; /* 250-40 */
  overflow-y: auto;
  padding: 0 10px;
  border-top: 1px solid rgba(221,221,221,0.2);
}
.pricing .game-entry:hover {
  background-color: rgba(255,255,255,0.1);
}
.pricing .game-entry.selected {
  background-color: rgba(255,255,255,0.3);
}
.pricing .empty {
  font-style: italic;
  color: #999;
}
.pricing .price-list {
  vertical-align: top;
}
.pricing .price-list .price-list-inner {
  height: 350px;
  overflow-y: auto;
}
.pricing .price-list .price-list-inner.dlc,
.pricing .price-list .price-list-inner.unlisted {
  height: 500px;
}
.pricing .price-list .price-list-pkg-contents {
  height: 150px;
  overflow-y: auto;
}
.pricing .price-list .selected {
  display: block;
}
.pricing .price-list .unselected {
  display: none;
}
.pricing .price-loading-overlay {
  display: block;
  text-align: center;
}



.hltb-detail {
  margin-top: 40px;
}
.hltb-container {
  display: inline-block;
}
.hltb-container table {
  margin-bottom: 10px;
}
.hltb-container th {
  border-top: none !important;
}
.hltb-container * {
  border-color: rgba(221,221,221,0.2) !important;
}
.detail-container {
  padding-right: 0px;
  padding-left: 10px;
  background-clip: content-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.detail-container ul {
  padding-right: 10px;
}
.detail-container li {
  margin: .3em 0;
}



.description {
  margin-top: 40px;
}
.description-container {
  border: 1px solid yellow;
}



.sys-reqs {
  margin-top: 40px;
}
.reqs-container {
  border: 1px solid orange;
}



.left-sidebar {
  border: 1px solid pink;
  position: absolute;
  left: 0;
  padding: 40px 0 0 20px;
  width: 200px;
}

.right-sidebar {
  border: 1px solid pink;
  position: absolute;
  right: 0;
  padding: 40px 20px 0 0;
  width: 200px;
  text-align: right;
}



.fancybox-type-iframe .fancybox-nav {
    width: 60px;       
}
.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}
.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}
.fancybox-type-iframe .fancybox-next {
    right: -60px;
}
.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}



.reddit {
  margin-top: 40px;
}
.reddit-container {
  border: 1px solid red;
}


.extra-info {
  margin-top: 20px;
}
.extra-info .game-entry {
  margin: 20px 0;
  height: 150px;
  border: 1px solid cyan;
}
.extra-info .game-entry .headerimg {
  text-align: center;
}
.extra-info .game-entry .extra-img {
  height: 150px;
}
.extra-info .game-entry li {
  margin: .2em 0;
}
.extra-info .game-entry h4 {
  color: #fff;
  margin-top: .3em;
}
.extra-info .description-popup {
  display: none;
}
.extra-info .selected {
  display: block;
}
.extra-info .unselected {
  display: none;
}



.fancybox-skin {
  background-color: #373737;
  color: #fff;
}