.col-md-2,.col-md-3,.col-md-4,.col-md-8,.col-md-9,.col-md-12 {
  border: 1px solid blue;
}

body {
  background-color: #373737;
  color: #fff;
}

/* Header styles */

.twitter-typeahead,.tt-hint,.tt-input,.tt-dropdown-menu {
  vertical-align: middle;
  width: 100%;
  color: #555;
  /* overridden by body{} above, re-overridden to normal here */
}
.tt-suggestion {
  position: relative;
}
.suggestion-link {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*z-index: 1000000;*/
}
.empty-suggestions {
  margin: 3px 20px;
  color: #999;
  font-style: italic;
}
.input-group {
  margin: auto;
  vertical-align: middle;
  width: 100%;
}
.header {
  height: 100px;
  margin-bottom: 10px;
  display: inline-flex;
}
.homepage-title {
  padding: 5px;
  margin: auto;
}
.search-bar {
  margin: auto;
}
.section-header {
  margin: 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

/* Body styles */

.listing-container,.capsule {
  padding: 5px;
}

.game-img,.package-img {
  width: 100%;
}

/* New Deals line styling */

h3.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
} 
span.divider {
  background: #373737;
  padding: 0 10px;
}

/* Package styling */

.vertical-spacer {
  background-color: #333;
  text-align: center;
}
.vertical-spacer-text {
  /*line-height: 29px; <-- assigned dynamically in js */
  white-space: nowrap;
  opacity: 0.5;
  color: #fff;
  text-align: center;
}
.package-link:hover {
  text-decoration: none;
}

/* Second page styling */

.vital-data * {
  padding: 0;
  /*border: 1px solid red;*/
}
.main-column {
  width: 800px;
  margin: 0 auto;
}

.img-container {
  display: inline-block;
}
.info-container {
  display: inline-block;
  width: 300px;
  float: right;
}
.score-container {
  margin: 0 15px;
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  white-space: nowrap;
}
.circle {
  width: 100%;
  height: 100%;
  background-color: #84FF38;
  text-align: center;
}
.metascore,.steam-pct {
  font-size: 36pt;
}
.recs-num {
  font-size: 24pt;
}
.recs-container {
  margin-top: 20px;
  text-align: center;
}
.recs-word {
  height: 10pt;
  line-height: 10pt;
}


.pics * {
  padding: 0;
}
.pics {
  margin-top: 40px;
}
.pics #img-loading-overlay {
  height: 100%;
}
.pics #img-loading-overlay-inner {
  position: absolute;
  text-align: center;

  width: 300px;
  height: calc(24px + 1em);

  top: 50%;
  left: 50%;
  margin: calc(-12px - 0.5em) 0 0 -150px;
}

/*.pics a {
  padding: 3px;
  height: 150px;
}
.pics a:hover {
  background-color: white;
}*/

#horiz_container img {
  height: 150px;
  border-radius: 5px;
}
#horiz_container_outer {
  width: 100%;
  height: 170px; /* 150+10+10 */
}
#horiz_container_inner {
  margin: 0;
  padding: 0;
}
#horiz_container {
  height: 170px;
  padding-left: 5px; /* 10/2 */
  padding-right: 5px;
}
#horiz_container li {
  margin: 10px 5px;
}
#scrollbar, #track {
  width: 100%;
}
#dragBar {
  display: none; /* made visible in ajax call */
}

.pricing {
  margin-top: 40px;
  border: 1px solid green;
}
.pricing div {
  border: 1px solid green;
}
.pricing table {
  width: 100%;
}
.section-view {
  height: 250px;
}
.pricing .section-view-inner {
  height: 220px;
  overflow-y: auto;
}
.pricing .game-entry:hover {
  background-color: rgba(255,255,255,0.1)
}
.pricing .game-entry.selected {
  background-color: rgba(255,255,255,0.3);
}
.pricing .pricing-entry {
  vertical-align: top;
}
.pricing .pricing-entry .pricing-entry-inner {
  height: 350px;
  overflow-y: auto;
}
.pricing .pricing-entry .pricing-entry-inner.dlc,
.pricing .pricing-entry .pricing-entry-inner.unlisted {
  height: 500px;
}
.pricing .pricing-entry .pricing-entry-pkg-contents {
  height: 150px;
  overflow-y: auto;
}
.pricing .pricing-entry .selected {
  display: block;
}
.pricing .pricing-entry .unselected {
  display: none;
}



.hltb-extra {
  margin-top: 40px;
}
.hl.hltb-container {
  display: inline-block;
}
.extra-info-container {
  padding-left: 0px;
}
li {
  margin: .5em 0;
}


.description {
  margin-top: 40px;
}
.description-container {
  /*display: inline-block;
  width: 460px;
  float: right;*/
}